<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <strong>Thee CodePoet</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-expandable expandHeight="expandHeight" [expanded]="item.expanded">
        <p>
          {{ item.body }}
        </p>
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>